/* General */
*{
    margin:0%;
    padding:0%;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* CSS Grid */
.coffee-shop-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.left-nav-container {
    grid-area: 1 / 1 / 3 / 2;
    
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    
}

.body {
    grid-area: 2 / 2 / 3 / 3;
    
}

/* header */

.header {
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 50px;
}

.header-h3 {
    margin-top: 15px;
}

/* left-nav column */

.left-nav-container {
    background-color: #000;
    height: 100vh;
    width: 300px;
    position: fixed;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    margin: 15px auto 30px auto;
}

.left-navbar {
    display: block;
    text-align: center;
    list-style: none;
}

.left-navbar li {
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid #1A2428;
}

.top-nav-item {
    border-top: 1px solid #1A2428;
}

.left-navbar li a {
    color: #fff;
    text-decoration: none;
}

.active {
    border-right: 3px solid #3A413E;
}

.active a {
    color: #3A413E !important;
}

.social-icons {
    margin-top: 5px;
    text-align: center;
    padding: 30px 10px 0 5px;
}

.social-icons ul li {
    font-size: 20px;
}

.fab {
    background-color: #3A413E;
    color: #1A2428;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.fab:hover {
    opacity: .6;
    
}

/* Body Style */

.body {
    background-color: #1A2428;
}

.body-container {
    width: 90%;
    margin: auto;
}

.body-main-image {
    width: 80%;
    height: auto;
    padding: 5%;
    display: block;
    margin: auto;
}

.body h1 {
    color: #fff;
    font-size: 35px;
}

.body h3 {
    color: #3A413E;
    font-size: 15px;
}

.body h1 , .body h3 {
    margin: 20px 0;
}

.hr-one {
    border-color: #3A413E;
    width: 30%;
    margin: -5px 0 25px 0;
    border-style: double;
}

.body p {
    color: #fff;
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 12px;
    margin-top: -5px;
}

.counter-img {
    width: 40%;
    height: auto;
    margin-bottom: 100px;
}

.hr-two {
    border-color: #3A413E;
    width: 100%;
    margin: -50px 0 50px 0;
    border-style: double;
    height: 1px;
}  


.image-row {
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.row-right {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.row-left {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.parallax {
    /*background-image: url('./img/PolyjuicePotion.png');
    ^^want to include this but not sure how*/
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hr-three {
    border-color: #3A413E;
    width: 20%;
    margin: auto;
    border-style: double;
    height: 1px;
}

.parallax h2 , .parallax p {
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    padding: 10px;
}
