{% extends "base.html" %}
{% block title %}Our Menu{% endblock %}

        {% block content %}
        <section class="menu">
            <div class="menu-container">
                <div class="menu-head">
                    <h2>Our Menu</h2>
                    <p>Our alchemists are highly skilled professionals and crafstman, and although we specialize in Draughts of Soul, we also make other types of tinkers and potions. Ask your barista about our dairy free options. Some drinks are only available iced. Besides liquid delights we also have fine eatery and delicacies for travellers.</p>
                </div>
                <div class="menu-btns">
                    <button type="button" class="menu-btn active-btn" id="Potions">Potions</button>
                    <button type="button" class="menu-btn" id="Specialty">Specialty Potions</button>
                    <button type="button" class="menu-btn" id="Eatery">Eatery</button>            
                </div>
                <div class="food-items">
                    <!-- Item.category_id == 2-->
                    <div class="food-item Potions">
                    {% for item in Potions %}
                        <div class="food-img">
                            <img src="static\img\default1.png">
                        </div>
                        <div class="food-content">
                            <h2 class="food-name">{{ item.name }}</h2>
                            <div class="line">{{ item.desc }}</div>
                            <h3 class="food-price">{{ item.price }}</h3>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- end of item -->

                    <!-- Item.category_id == 3 -->
                    <div class="food-item Specialty">
                    {% for item in Specialty %}
                        <div class="food-img">
                            <img src="static\img\{{ item.image_1 }}">
                        </div>
                        <div class="food-content">
                            <h2 class="food-name">{{ item.name }}</h2>
                            <div class="line">{{ item.desc }}</div>
                            <h3 class="food-price">{{ item.price }}</h3>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- end of item -->

                    <!-- Item.category_id == 1 -->
                    <div class="food-item Eatery">
                    {% for item in Food %}
                        <div class="food-img">
                            <img src="static\img\default3.png">
                        </div>
                        <div class="food-content">
                            <h2 class="food-name">{{ item.name }}</h2>
                            <div class="line">{{ item.desc }}</div>
                            <h3 class="food-price">{{ item.price }}</h3>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- end of item -->
                </div>
            </div>
        </section>
        {% endblock %}